.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    margin-top: 150px;
    background: white;
    border-radius: 10px;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  header p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap:20px;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .feature h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1.1rem;
    color: #666;
  }
  
  footer p {
    font-size: 1.2rem;
    color: #333;
  }